<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shl.dao.UserMapper">
    <sql id="selectUser">
        select * from user
    </sql>
    <select id="findByCondition" resultType="User">
        <!--直接使用&lt;代替-->
        <!--<![CDATA[select * from user where username =#{user.username} and birthday>=#{starDate} and birthday<=#{endDate}]]>-->

        /*动态条件查询*/
        <include refid="selectUser"></include>
        <where>
            <if test="user!=null and user.username !=''">
                and username =#{user.username}
            </if>
            <if test="starDate !=null">
                and birthday>=#{starDate}
            </if>
            <if test="endDate !=null">
                and birthday&lt;=#{endDate}
            </if>
        </where>

    </select>
</mapper>