<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shl.dao.RoleMapper">
    <resultMap id="selectFindAllRole" type="role">
        <id property="id" column="id"></id>
        <result property="roleName" column="role_Name"></result>
        <result property="roleDesc" column="role_Desc"></result>
        <!--collection中column是一方的主键-->
        <collection property="users" ofType="user" javaType="java.util.List" column="id">
            <id property="id" column="userid"></id>
            <result property="username" column="username"></result>
            <result property="birthday" column="birthday"></result>
            <result property="sex" column="sex"></result>
            <result property="address" column="address"></result>
        </collection>
    </resultMap>

<select id="findAllRole" resultType="role" resultMap="selectFindAllRole">
    SELECT r.*,u.id userid,u.username,u.birthday,u.address,u.sex from role r left JOIN user_role ur on ur.rid=r.id LEFT join user u on u.id =ur.uid

</select>
</mapper>